/*
* @Author: Administrator
* @Date:   2017-01-29 21:06:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-05 22:18:28
*/

a{
	color: #333333;
}
.inon {
	position: absolute;
	top: 55px;
	right: 15px;
	display: block;
}